#demo
  .cs_container
    .cs_page
      %a.cs:link page2
    .cs_page
      %a.cs:link page1

#rails
  .cs_container
    .cs_page
      = link_to "ajax", playground_path(@playground), :class=>"cs_link", :remote => true
    .cs_page.cs_target
      PAGE2
