#demo
  .cs_container
    .cs_page
      %a.cs:link page2
    .cs_page
      %a.cs:link page1

#rails
  .cs_container
    .cs_page
      = link_to "ajax", demo_path(@demo), :class=>"cs_link", :remote => true
    .cs_page
      PAGE2
